.information-container{
    /* border: 1px solid black; */
    width: 450px;
    margin-right: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 960px){
    .information-container{
        width: 350px;
    }
}