.controls-container{
    display: flex;
}
.controls-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0px;
    width: 40px;
    height: 40px;
}