:root{
    --moveBar: 10px;
}

.visualizer-container{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: 430px;
    /* border: 1px solid black; */
}

.bar-container{
    width: fit-content;
}

.bar.moving{
    animation: moveBar 2s;
}

@keyframes moveBar {
    to{
        transform: translateX(var(--moveBar));
    }
}