.visualizer-container{
    display: flex;
    align-items: flex-end;
    height: 430px;
    /* border: 1px solid black; */
}

.bar-container{
    padding: 1px;
    display: flex;
    align-items: flex-end;
}

:root{
    --moveValue: 45px;
}
.bar.moving{
    animation: moveBar 1s forwards;
}

@keyframes moveBar{
    to{
        transform: translateX(var(--moveValue));
    }
}