.header-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
}

.algorithms-menu{
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

.algorithm-button{
    margin-left: 10px;
}

.algorithms-dropdown{
    display: none;
}

@media screen and (max-width: 650px){
    .algorithms-menu{
        display: none;
    }
    .algorithms-dropdown{
        display: block;
    }
}