body{
    --bg-color: rgb(241, 241, 241);
    background-color: var(--bg-color);
}

.main-content{
    width: fit-content;
    display: flex;
    position: absolute;
    margin: auto;
    margin-top: 100px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 900px){
    .main-content{
        margin-top: 0px;
        flex-direction: column;
    }
}