@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

:root{
    --background-color: #2C2F33;
    --hover-color: #5a6068;
    --ui-color: #99AAB5;
    --ui-width: 45vw;
}

body{
    background-color: var(--background-color);
    
    font-family: 'Lato', sans-serif;
    
    display: flex;
    justify-content: center;
}

.content-container{
    display: flex;
    justify-content: center;
}

.ui-container{
    display: inline-block;
    
    color: white;
    
    width: var(--ui-width);
    height: 7vh;

    border-radius: 7px;

    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
}

.size-container{
    display: inline-block;
    
    border-bottom: 2px solid var(--ui-color);

    background-color: var(--background-color);
}

#sizeLabel{
    color: var(--ui-color);
    font-size: 1.5vw;
}

.sizeInput{
    margin-left: 1vw;
    display: inline-block;

    border: none;
    outline:none;

    background-color: var(--background-color);
    color: var(--ui-color);

    font-size: 1.5vw;

    height: 100%;
}


.button{
    display: inline-block;

    border-radius: 5px;
    border: 2px solid var(--ui-color);

    background-color: var(--background-color);
    color: var(--ui-color);

    font-size: 1.3vw;

    height: 4vh;
    width: 20%;
}

.button:hover{
    background-color: var(--hover-color);
    transition: background-color 0.1s;
}

.array-container{
    position: absolute;
    margin-top: 10%;
}

.array-bar{
    width: 6px;
    background-color: var(--ui-color);
    display: inline-block;
    margin: 0 1px;
}