@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

:root{
    --ui-container:#030200;
    --shade-1: #99B6C5;
    --shade-2: #85A2B1;
    --shade-3: #718E9D;
    --shade-4: #5D7A89;
    --shade-5: #496675;
    --ui-width: 45vw;
}

body{
    background-color: var(--shade-1);
    
    font-family: 'Lato', sans-serif;
    
    display: flex;
    justify-content: center;
}

.content-container{
    display: flex;
    justify-content: center;
}

.ui-container{
    display: inline-block;
    
    color: white;
    
    width: var(--ui-width);
    height: 7vh;

    border-radius: 7px;
    /* background-color: var(--shade-5); */

    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
}

.size-container{
    display: inline-block;
    
    border-bottom: 3px solid var(--shade-5);

    background-color: var(--shade-1);
}

#sizeLabel{
    color: var(--shade-5);
    font-size: 1.5vw;
    /* margin-left: 1vw; */
}

.sizeInput{
    margin-left: 1vw;
    display: inline-block;

    border: none;
    outline:none;

    background-color: var(--shade-1);
    color: var(--shade-5);

    font-size: 1.5vw;

    height: 100%;
}


.button{
    display: inline-block;

    border-radius: 5px;
    border: 3px solid var(--shade-5);

    background-color: var(--shade-1);
    color: var(--shade-5);

    font-size: 1.3vw;

    height: 4vh;
    width: 20%;
}

.button:hover{
    background-color: var(--shade-3);
    transition: background-color 0.25s;
}

.array-container{
    position: absolute;
    margin-top: 10%;
}

.array-bar{
    width: 6px;
    background-color: var(--shade-5);
    display: inline-block;
    margin: 0 1px;
}