@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Roboto&display=swap');

body {
    --bg-color: #232323;
    --ui-color: #FEFEFE;
    color: var(--ui-color);
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.main-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: auto;
    /* margin-top: 100px; */
    left: 0;
    right: 0;
    padding: 30px;
    border-radius: 20px;
    /* background: #222222; */

    /* background: rgba(108, 108, 108, 0.25);
    box-shadow: 0 8px 32px 0 rgb(24, 24, 24);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    flex-direction: column;
}

@media screen and (max-width: 960px) {
    .main-content {
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .main-content {
        justify-content: center;
        align-items: center;
        width: 400px;
        padding-left: 0px;
        padding-right: 0px;
    }
}