.controls-container{
    display: flex;
    align-items: flex-end;
    height: 50px;
    user-select: none;
    width: 385px;
}

.MuiSlider-valueLabelCircle{
    height: 12px;
    font-size: 10px;
}

.controls-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #FEFEFE;
}

.controls-container button:disabled{
    color: grey;
}
.controls-container button:hover{
    color: grey;
    transition: 0.2s color;
}

.MuiSlider-thumb:hover {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.174) !important;
}

.slider-container{
    width: 300px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

@media screen and (max-width: 600px){
    .slider-container{
        width: 250px;
    }
}